MONGODB_URI=
JWT_SECRET=
PORT=5000
SMTP_HOST=smtp.gmail.com
SMTP_USER=moamen2lkr@gmail.com
SMTP_PASS=
SMTP_PORT=465
SMTP_FROM=moamen2lkr@gmail.com
ADMIN_EMAIL=moamen2lkr@gmail.com
ADMIN_PASSWORD=
# FRONTEND_URL=https://heritage-repository.vercel.app
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=